uno/
venv/
env
__pycache__/
*.pyc
train_checkpoints/
interactive_game_logs/
backend/replays/*
.env

frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local
frontend/.env

.DS_Store
Thumbs.db